.container {
    height: 600px;
    position: relative;
}

.item {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    top: 20px;
    left: 130px;
    background-color: blue;
    z-index: 3;
}

.item:nth-child(2) {
    top: 30px;
    left: 230px;
    background-color: red;
    z-index: 2;
}

.item:nth-child(3) {
    top: 140px;
    left: 220px;
    background-color: yellow;
    z-index: 1;
}

.item:nth-child(4) {
    top: 120px;
    left: 120px;
    background-color: green;
    z-index: 4;
}