.container {
    height: 600px;
    position: relative;
}

.item {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    top: 20px;
    left: 130px;
    background-color: #ff8888;
    z-index: 1;
}

.item:nth-child(2) {
    top: 110px;
    left: 220px;
    background-color: #7e8aeb;
    z-index: 2;
}

.item:nth-child(3) {
    top: 200px;
    left: 310px;
    background-color: #4def99;
    z-index: 1;
}